body{
    background-color: aqua;
    display: flex;
    justify-content: center;
  align-items: center;
    height: 100vh;
}
.container{
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
}
.section{
    width: 500px;
    height: 400px;
    background-color:white;
}
.round{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: radial-gradient(circle,
     transparent 0.3rem,
      red 2rem,
      orange 1rem,
      orange 3rem,
      white 0rem,
      transparent 5rem
      );
      background-size: 5rem 5rem  ;
}