body{
    background-color: aquamarine;
}
.svg{
    stroke-dasharray: 1320;
    stroke-dashoffset: 60;
    animation: sign 10s ease;
   
}
@keyframes sign {
    0%{
        stroke-dashoffset: 70;
        stroke-dasharray: 100;
    }
    100%{
        stroke-dashoffset: 70;
        stroke-dasharray: 0;
    }
    
}